#plantatree {
    position: absolute;
    font-size: 25px;
    left: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    top: -45px;
    z-index: 999;
}

#sky {
    background-color: #00E5FF;
    width: 100%;
    height: 85%;
    position: absolute;
    margin: auto;
}

#grass {
    background-color: #76FF03;
    height: 15%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
}

body {
    margin: 0em;
    height: 100%;
    width: 100%;
}

#F1 {
    float: left;
    height: 25px;
    width: 25px;
}

#F2 {
    float: right;
    size: 25%;
}

.flower {
    width: 150px;
    height: auto;
    margin-top: -150px;
    margin-left: 50px;
}

.flower2 {
    width: 150px;
    height: auto;
    margin-top: -150px;
    margin-right: 50px;
}

#tree {
    position: absolute;
    left: 50%;
    margin-left: -479px;
    z-index: 450;
}

#treeAndCover {
    position: relative;
}

#cover {
    background-color: #00E5FF;
    position: absolute;
    height: 692px;
    width: 50%;
    z-index: 500;
    top: 10px;
    left: 25%;
}

h3 {
    text-align: center;
    height: 50px;
    width: 400px;
    margin-left: -200px;
    top: 30px;
    margin: 0 auto;
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 175%;
}

#para {
    float: left;
    height: 500px;
    width: 250px;
    margin-top: 100px;
    margin-left: 25px;
    font-family: 'Gloria Hallelujah', cursive;
}

#sun {
    float: right;
    height 250px;
    width: 250px;
    z-index: 650;
}

#seed {
    position: absolute;
    z-index: 850;
    height 250px;
    width: 250px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    visibility: hidden;
}

#raindrop {
    position: absolute;
    z-index: 750;
    height 250px;
    width: 250px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: 110px;
    visibility: hidden;
}

#heart {
    position: absolute;
    z-index: 550;
    height 500px;
    width: 500px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    visibility: hidden;
    margin-top: -300px;
}

#apple1 {
    position: absolute;
    z-index: 525;
    height 80px;
    width: 80px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    opacity: 0;
    animation-name: fadeIn1;
    animation-delay: 26s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

#apple2 {
    position: absolute;
    z-index: 525;
    height 80px;
    width: 80px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -40px;
    opacity: 0;
    animation-name: fadeIn2;
    animation-delay: 28s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

#apple3 {
    position: absolute;
    z-index: 525;
    height 80px;
    width: 80px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-left: 100px;
    margin-top: -100px;
    opacity: 0;
    animation-name: fadeIn3;
    animation-delay: 30s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.animation1 {
    animation-name: seed-drop;
    animation-delay: 2s;
    animation-duration: 4s;
}

@keyframes seed-drop {
    5%  {visibility: visible;}
    100% {margin-top: 500px;}
    
}

.animation2{
    animation-name: rain-drop;
    animation-delay: 6s;
    animation-duration: 4s;
}

@keyframes rain-drop{
    0%{visibility: visible;}
    100%{visibility: hidden;}
}

.animation3{
    animation-name: spin;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.animation4 {
    animation-name: heart-big;
    animation-duration: 5s;
    animation-delay: 14s;
}

@keyframes heart-big {
    100% {
        margin-top: -50px;
        visibility: visible;
    }
}

.animation5{
    animation-name: reveal-tree;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-delay: 19s;
}

@keyframes reveal-tree{
    100%{
        margin-top: -900px;
    }
}

@keyframes fadeIn1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeIn2 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeIn3 {
    from { opacity: 0; }
    to   { opacity: 1; }
}